DATABASE_URL="postgresql://neondb_owner:npg_ulm3Z1yARYaq@ep-round-cherry-a4tribjk-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"
PORT=5000
JWT_SECRET=your_jwt_secret_key
REDIS_URL=redis://localhost:6379

# this file is created just in case if the .env is not uploaded. for testing and assignment purpose.